/*全てのa要素（リンク）*/

a {
    text-align: center;
    padding: 50px;
    text-decoration: none;
}

/*idがaddressである要素*/

#adress {
    color: darkred;
    font-weight: bold;
}

/*classがcontainerである要素*/

.container {
    max-width: 600px;

}

/*a要素（リンク）でカーソルが載っているときのみに適用される要素*/
a:hover{
    text-decoration: underline;
}

/*classがheaderである要素とclassがfooterである要素（複数セレクタ）*/

.header, .footer {
    font-weight: bold;
    text-align: center;
}

/*classがcontentである要素の中にあるh1要素（子孫セレクタ）*/

.content h1 {
    font-weight: normal;
}